<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Lift #<%= @lift.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/lifts" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/lifts/<%= @lift.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit lift
        </a>
      </div>

      <div class="col">
        <a href="/delete_lift/<%= @lift.id %>" class="btn btn-block btn-outline-secondary">
          Delete lift
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Cooldown hours
      </dt>
      <dd>
        <%= @lift.cooldown_hours %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @lift.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@lift.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@lift.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "lift_templates/lift_favorites" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "lift_templates/lift_mg_targets" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "lift_templates/lift_equipment_requirements" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "lift_templates/lift_required_equipment" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "lift_templates/lift_mgs_targeted" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "lift_templates/lift_users_favorited" %>
  </div>
</div>
