<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Lift #<%= @lift.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/lifts" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link lift start -->
      <div class="col">
        <a href="/lifts/<%= @lift.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit lift
        </a>
      </div>
      <!-- Edit link lift end -->

      <!-- Delete link lift start -->
      <div class="col">
        <a href="/delete_lift/<%= @lift.id %>" class="btn btn-block btn-outline-secondary">
          Delete lift
        </a>
      </div>
      <!-- Delete link lift end -->
    </div>

    <dl>
      <dt>
        Cooldown hours
      </dt>
      <!-- Display cooldown_hours start -->
      <dd>
        <%= @lift.cooldown_hours %>
      </dd>
      <!-- Display cooldown_hours end -->

      <dt>
        Name
      </dt>
      <!-- Display name start -->
      <dd>
        <%= @lift.name %>
      </dd>
      <!-- Display name end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@lift.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@lift.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
