<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Template #<%= @template.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/templates" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/templates/<%= @template.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit template
        </a>
      </div>

      <div class="col">
        <a href="/delete_template/<%= @template.id %>" class="btn btn-block btn-outline-secondary">
          Delete template
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Sets
      </dt>
      <dd>
        <%= @template.sets %>
      </dd>

      <dt>
        Reps
      </dt>
      <dd>
        <%= @template.reps %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @template.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@template.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@template.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

