<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All mg targets
    </h1>

    <a href="/mg_targets/new" class="btn btn-block btn-outline-secondary">
      Add a new mg target
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "mg_target_templates/mg_targets_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Mg
        </th>

        <th>
          Lift
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @mg_targets.each do |mg_target| %>
      <tr>
        <td>
          <%= mg_target.id %>
        </td>

        <td>
          <% if mg_target.mg.present? %>
            <a href="/muscle_groups/<%= mg_target.mg.id %>">
              <%= mg_target.mg.name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if mg_target.lift.present? %>
            <a href="/lifts/<%= mg_target.lift.id %>">
              <%= mg_target.lift.cooldown_hours %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(mg_target.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(mg_target.updated_at) %> ago
        </td>

        <td>
          <a href="/mg_targets/<%= mg_target.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @mg_targets, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
