<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Equipment requirement #<%= @equipment_requirement.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/equipment_requirements" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/equipment_requirements/<%= @equipment_requirement.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit equipment requirement
        </a>
      </div>

      <div class="col">
        <a href="/delete_equipment_requirement/<%= @equipment_requirement.id %>" class="btn btn-block btn-outline-secondary">
          Delete equipment requirement
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Lift
      </dt>
      <dd>
        <% if @equipment_requirement.lift.present? %>
          <a href="/lifts/<%= @equipment_requirement.lift_id %>">
            <%= @equipment_requirement.lift.cooldown_hours %>
          </a>
        <% end %>
      </dd>

      <dt>
        Equipment
      </dt>
      <dd>
        <% if @equipment_requirement.equipment.present? %>
          <a href="/equipment/<%= @equipment_requirement.equipment_id %>">
            <%= @equipment_requirement.equipment.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@equipment_requirement.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@equipment_requirement.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

