<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Equipment #<%= @equipment.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/equipment" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/equipment/<%= @equipment.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit equipment
        </a>
      </div>

      <div class="col">
        <a href="/delete_equipment/<%= @equipment.id %>" class="btn btn-block btn-outline-secondary">
          Delete equipment
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @equipment.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@equipment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@equipment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "equipment_templates/equipment_user_inventories" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "equipment_templates/equipment_equipment_requirements" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "equipment_templates/equipment_lift_requiring" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "equipment_templates/equipment_users" %>
  </div>
</div>
