<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      User inventory #<%= @user_inventory.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/user_inventories" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/user_inventories/<%= @user_inventory.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit user inventory
        </a>
      </div>

      <div class="col">
        <a href="/delete_user_inventory/<%= @user_inventory.id %>" class="btn btn-block btn-outline-secondary">
          Delete user inventory
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @user_inventory.user.present? %>
          <a href="/users/<%= @user_inventory.user_id %>">
            <%= @user_inventory.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Equipment
      </dt>
      <dd>
        <% if @user_inventory.equipment.present? %>
          <a href="/equipment/<%= @user_inventory.equipment_id %>">
            <%= @user_inventory.equipment.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@user_inventory.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@user_inventory.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

